<!-- Global headers -->
<%- include('components/_head.ejs'); %>
<!-- Global headers -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <h3>Player: <%- playerData.name%></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6 id="timeCounter">Go!</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-primary"
            id="checkRanking1"
            style="display: none"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Check the ranking
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form action="" method="" novalidate>
            <div id="questionList">
              <% for(var i=0;i< questionsSet.length; i++ ){%>
              <div class="card">
                <div class="card-body">
                  <div class="quiz-question">
                    <h5>#<%-[i+1]%>: <%-questionsSet[i].question%></h5>
                    <% for(var j=0;j< questionsSet[i].alternatives.length; j++)
                    {%>
                    <div class="form-check" id="border-q<%=[i]%>-a<%=[j]%>">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="<%=[i]%>"
                        id="q<%=[i]%>-a<%=[j]%>"
                        value="<%=questionsSet[i].alternatives[j].value%>"
                      />
                      <label class="form-check-label" for="q<%=[i]%>-a<%=[j]%>"
                        ><%=questionsSet[i].alternatives[j].value%></label
                      >
                    </div>
                    <%}%>
                  </div>
                </div>
              </div>
              <br />
              <%}%>
            </div>

            <div class="buttonSection">
              <div class="card">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="submitButton"
                  onclick="checkOutQuiz(this.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Submit my answers
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  id="checkRanking2"
                  style="display: none"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Check the ranking
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">
          Congratulations! you finish this round
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p class="text-primary fs-5" id="playerScore"></p>
          </div>
          <div class="col-md-6">
            <p class="text-primary fs-5" id="playerTime"></p>
          </div>
        </div>
        <div class="row">
          <h6>Other players records</h6>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Player</th>
                <th>Score</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i< rankList.length; i++ ){%>
              <tr>
                <td><%-[i+1]%></td>
                <td><%-rankList[i].name%></td>
                <td><%-rankList[i].score%></td>
                <td>
                  <%-new Date(rankList[i].time).toISOString().substring(11,19)%>
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button typo="button" class="btn btn-info" onclick="goToSelection()">
          Change category
        </button>
        <button type="button" class="btn btn-primary" onclick="reloadPage()">
          I'll take another one!
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Script section -->
<script>

  // Set initials variables
  var stopCounter=false;
  var gameTime=0;

  // Start when DOM is loaded
  document.addEventListener("DOMContentLoaded", function(event) {
    // Initiate time counting
    timeCounter();
  });

    function checkOutQuiz(buttonId){

      // Disable submit button
      button=document.getElementById(buttonId);
      button.disabled=true;

      // Turn off time counter
      stopCounter=true;

      // Check player answers and save results
      quizTime=gameTime;
      quizScore=checkAnswers();
      playerName=<%-JSON.stringify(playerData.name)%>

      // Save player score
      saveResults(playerName,quizTime,quizScore);

      // Scroll back to the beginning
      window.scrollTo(0,0);

      document.getElementById("checkRanking1").style.display = "block";
      document.getElementById("checkRanking2").style.display = "block";

      }

  // Check answers and mark correct alternatives
    function checkAnswers(){
      var score=0;
      var correctAnswers=<%- JSON.stringify(questionsRef)%>;
        var questionList=document.getElementById("questionList").getElementsByClassName('quiz-question');

        for (var i = 0; i < questionList.length; i++) {
          var alternatives=questionList[i].getElementsByClassName('form-check');

          for (var j=0; j < alternatives.length; j++){
            var alternativeHTML=alternatives[j].getElementsByClassName('form-check-input')[0]
            var alternativeValue=alternativeHTML.value;
          if(alternativeValue==correctAnswers[i].correct_answer){
            alternatives[j].className+=" border border-success"
          }

          // Check if the selected alternative is correct
          if (alternativeHTML.checked){
            if(alternativeValue==correctAnswers[i].correct_answer){
              // count correct answer
              score+=1;

            } else {
              // apply a red border
              alternatives[j].className+=" border border-danger";
            }
          }
          }
      }

      return score;
    }

  // Count and update time counter element
    function timeCounter(){
      var startTime=new Date().getTime();
      var counter=setInterval(()=>{
        if(stopCounter){
          clearInterval(counter);
        }else{
          var now=new Date().getTime();
          var diffTime=now - startTime;
          var lastingTime=new Date(diffTime).toISOString().substring(11,19);
          document.getElementById("timeCounter").innerHTML=lastingTime;
          gameTime=diffTime;
        }
      }
      ,1000)
    }

  // Save game results
  function saveResults(playerName,quizTime,quizScore){


    // Setting http requests
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "/checkQuiz", true);
    xhr.setRequestHeader("Content-Type", "application/json");

    // Update players records with current run information
    var reqBody= Object.assign({},[]);
    reqBody.playerName=playerName;
    reqBody.quizTime=quizTime;
    reqBody.quizScore=quizScore;

    xhr.onload = () => {};

    xhr.send(JSON.stringify(reqBody));

    // Set player run info on results modal
    document.getElementById("playerScore").innerHTML='Your score: ' + quizScore + '/20'
    document.getElementById("playerTime").innerHTML='Your time: ' + new Date(quizTime).toISOString().substring(11,19);

   }

  function reloadPage(){
    location.reload();
  }

  function goToSelection(){
    window.location.href='/';
  }
</script>

<!-- Global footers -->
<%- include('components/_footer.ejs'); %>
